@font-face {
  font-family: 'CustomFont';
  src: url('fonts/custom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    color: #a76ea3;;
    font-family: 'CustomFont', sans-serif;
    background-color: #ebdeef;
    border: 6px double #d1add1;
    margin: 0;
    padding: 0;
    
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding: 10px;
  height: 300px; 
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


h1 {
    text-align: center;
    font-size: 8vw;
    margin-top: 1px;
    margin-bottom: 0.5px;
    padding: 5px;
}


.window-images  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.window-images img {
  width: 285px;     /* fixed size */
  height: 180px;    /* optional: keeps oval look */
  object-fit: cover;
  display: block;
}

.window-images a {
  text-decoration: none;
  color:  #533c8c;
  font-weight: bold;
  font-size: 2em;
}

.jiji-window{
  display: flex;
  flex-direction: column;
  align-items: center;     
  margin: 20px;            
  text-align: center;
}



.arrietty-window {
  display: flex;
  flex-direction: column;
  align-items: center;     
  margin: 20px;            
  text-align: center;
}



.howls-moving-castle-window {
  display: flex;
  flex-direction: column;
  align-items: center;     
  margin: 20px;            
  text-align: center;
}


.from-up-on-poppy-hill-window {
  display: flex;
  flex-direction: column;
  align-items: center;     
  margin: 20px;            
  text-align: center;
} 




hr {
 color:#533c8c;
}

.footer {
  text-align: center;
  font-size: 1.4em;
}