@font-face {
  font-family: 'CustomFont';
  src: url('fonts/custom.otf'); 
  font-weight: normal;
  font-style: normal;
}

body {
  color: #a76ea3;
  font-family: 'CustomFont', sans-serif;    
  background-color: #ebdeef; 
  margin: 0;
  padding: 0;
  min-height: 100vh;        
  overflow-x: hidden;     
  overflow-y: auto;          
  position: relative;
  padding-top: 70px;  
}

.topnav {
  color: #a76ea3;
  background-color: #EDCDE6;
  width: 100%;
  position: fixed;       
  top: 0;
  left: 0;
  z-index: 3000;
}

.topnav a {
  float: left;
  text-align: center;
  border: 6px double #d1add1;
  padding: 14px 16px;
  font-size: 12px;
  text-decoration: none;
}

.topnav a:hover {
  background-color:#74498c;
  color: white;
}


.topnav a.split {
  float: right;
  background-color: #74498c;
  color: white;
}

.topnav .icon {
  display: none;
  float: right;
  padding: 14px 16px;
  cursor: pointer;
  background-color: #74498c;
  color: white;
  font-size: 12px;
  text-decoration:  none;
  text-align: center;
}

.dropdown {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  background-color:#EDCDE6;
  border: 6px double #d1add1;
  z-index: 1001; 
}

.dropdown a {
  display: block;
  padding: 14px 16px;
  font-size: 12px;
  border-top: 1px  #d1add1;
  border-bottom: 1px solid #d1add1;
  color: #a76ea3;
  text-decoration: none;
}

.dropdown a:hover {
  background-color:#74498c;
  color: white;
}

.message-container {
  position: relative;        
  top: 30px; 
  left: 26px;                    
  width: 80%;    
  max-width: 600px;
  padding: 20px;
  background: white;       
  border: 2px solid #a76ea3;
  z-index: 1000;   
  overflow: visible;  
}

.title-container {
  background: #74498c;
  color: white;
  font-weight: bold;
  padding: 5px 8px;
  font-size: 22px;
}

.iframe {
  width: 100%;
  height:75%;
  overflow: hidden;
  border-radius: 12px;
  border: 2px solid #c3b2cc;
}



@media screen and (max-width: 427px) {
  .topnav a:not(.split):not(.icon) {
    display: none;
  }
  .topnav .icon {
    display: block;
  }
  .topnav.responsive + .dropdown-content {
    display: block;
  }
}

