@font-face {
  font-family: 'CustomFont';
  src: url('fonts/custom.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    color: #a76ea3;
    font-family: 'CustomFont', sans-serif;
    background-color: #ebdeef;
    margin: 0;
    padding: 0;
    border: fill;
}

.topnav {
    color: #a76ea3;
    background-color: #EDCDE6;
    overflow: hidden;
    border: 6px double #d1add1;
    max-width: auto;
    margin-left: 0px;
    min-width: 400px;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 12px;
    text-decoration: none;
}

.topnav a:hover {
    background-color:#74498c;
    color: white;
}


.topnav a.split {
  float: right;
  background-color: #74498c;
  color: white;
  padding-left: 16px;
}
