@font-face {
  font-family: 'CustomFont';
  src: url('fonts/custom.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #a76ea3;
  background-color: #ebdeef; 
  font-family: 'CustomFont', sans-serif;    
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; 
  overflow-y: auto;
  position: relative;
  padding-top: 70px; 
}

/* nav bar */
.topnav {
  color: #a76ea3;
  background-color: #EDCDE6;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000; 
}

.topnav a {
  float: left;
  text-align: center;
  border: 6px double #d1add1;
  padding: 14px 16px;
  font-size: 12px;
  text-decoration: none;
}

.topnav a:hover {
  background-color:#74498c;
  color: white;
}

.topnav a.split {
  float: right;
  background-color: #74498c;
  color: white;
}

.topnav .icon {
  display: none;
  float: right;
  padding: 14px 16px;
  cursor: pointer;
  background-color: #74498c;
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

/* dropdown */
.dropdown {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: #EDCDE6;
  border: 6px double #d1add1;
  z-index: 2500; 
}

.dropdown a {
  color: #a76ea3;
  display: block;
  padding: 14px 16px;
  border-top: 1px solid #d1add1;
  border-bottom: 1px solid #d1add1;
  text-decoration: none;
  font-size: 14px;
}

.dropdown a:hover {
  background-color:#74498c;
  color: white;
}


.media-entry {
  position: relative;        
  top: 15px; 
  left: 26px;                    
  width: 80%;  
  padding: 20px;
  background: white;       
  border: 2px solid #a76ea3;
  z-index: 1000;   
  overflow: visible;  

}


.title-container {
  background: #74498c;
  color: white;
  font-weight: bold;
  padding: 5px 8px;
  margin-bottom: 10px;
  font-size: 22px;
}

.media-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  border-bottom: 2px solid #d1add1;
}

.img {
  width: 150px;       
  height: auto;         
  border-radius: 6px;
  border: 2px solid #e2d4e5;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  display: block;
}

.media-info {
  font-size: 14px;
  color: #74498c;
  margin-top: 10px;
}

.details {
  margin-bottom: 5px;
}

.rating {
  font-weight: bold;
  color: #533c8c;
}

.review p {
  line-height: 1.6;
  color: #6e4b7b;
}


/* responsive nav */
@media screen and (max-width: 427px) {
  .topnav a:not(.split):not(.icon) {
    display: none;
  }
  .topnav .icon {
    display: block;
  }
  .topnav.responsive + .dropdown-content {
    display: block;
  }
}

