@font-face {
  font-family: 'CustomFont';
  src: url('fonts/custom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    color: #02365b;;
    text-align: left;
    font-family: 'CustomFont', sans-serif;
    background-color: #d0eeee;
    border: 6px double #a1dce2;
}

h1 {
    text-align: center;
    font-size: 8vw;
    padding: 20px;
   
}

h2 {
  padding: 20px;
  font-size: 4vw;
  border-left-style: solid;
  border-left-width: 10px;
}


.header {
  margin: auto;
}




.window-images {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
}

.window-images img {
  width: 285px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}