@font-face {
  font-family: 'CustomFont';
  src: url('fonts/custom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    color: #a76ea3;;
    font-family: 'CustomFont', sans-serif;
    background-color: #ebdeef;
    border: 6px double #d1add1;
    margin: 0;
    padding: 0;
    border: fill;
}

.header {
  padding: 10px;
  height: 300px; 
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}


h1 {
    text-align: center;
    font-size: 8vw;
    margin-top: 1;
    margin-bottom: 0.5px;
    padding: 5px;
}


.window-images  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.window-images img {
  width: 285px;           
  height: auto;
  object-fit: cover;
}

.window-images a {
  text-decoration: none;
  color: 	#533c8c;
  font-weight: bold;
  font-size: 2em;
}

.jiji-window{
  display: flex;
  flex-direction: column;
  align-items: center;     
  margin: 20px;            
  text-align: center;
}

.jiji-window img {
  width: 285px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.arrietty-window {
  display: flex;
  flex-direction: column;
  align-items: center;     
  margin: 20px;            
  text-align: center;
}

.arrietty-window img {
  width: 285px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.howls-moving-castle-window {
  display: flex;
  flex-direction: column;
  align-items: center;     
  margin: 20px;            
  text-align: center;
}

.howls-moving-castle-window img {
  width: 285px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.from-up-on-poppy-hill-window {
  display: flex;
  flex-direction: column;
  align-items: center;     
  margin: 20px;            
  text-align: center;
} 

.from-up-on-poppy-hill-window img {
  width: 285px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.footer {
  text-align: center;
  font-size: 1.4em;
}